// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
font-family:  helvetica;
background-color: #FFFADB;
color: #A34600;
}

.popup_login {
margin: 20px 0 0 0;
}

th {
  color: #A34600;
}

body h3 {
  margin: 20px 0 0 20px;
  font-family: american typewriter;
}
.container {
margin-top: -150px;
}

.header {
  // position: absolute;
}
.banner {
  // position: absolute;
  height: 170px;
  width: auto;
  position: scroll;
  background: image-url('banner.jpg') repeat top center fixed;
  color: black;
}

h1 {
  font-family: sketchrockwell;
  font-size: 90px;
  color: white;
  padding: 0;
  margin: 40px 20px 20px 20px;
}

.coolrecipe {
  color: black;
  background-color: white;
  border: #A34600 solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
}

.recipe {
  min-height: 450px;
}
.coolrecipe a, footer a{
 color: #C08408;
 text-decoration: none;
}
.coolrecipe a:hover, .coolrecipe a:focus, footer a:hover, footer a:focus{
  color: #A34600;
}
footer p {
  margin-top: 170px;
  padding: 20px 0 0 20px
}